p {
  font-weight: bold;
}

div{
position: absolute;
right: 0rem;
top:0.5rem;
}

/*  ana  */
.mobileheader-line {
  background-image: linear-gradient(to right,#1d6a7f,#82b432 0,#1e9650 17%,#0a5a64 45%,#32828c 78%,#28b4dc 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
}
#header{
    text-align: center;
   line-height: 30px;
   font-size: 20px;
}
#a{
  top:60px;
  left: 10px;
}
#b{
  top: 140px;
  left: 5px;
  width: 60%;
}
#c{
  top: 140px;
  right: 5px;
  width: 40%;
  text-align: center;
}
#d{
  top: 520px;
  right: 5px;
  width: 40%;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* font: normal 14px arial,sans-serif; */
  font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 16px;
}
ul {
  list-style-type: disc;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.img {
  height: 50px;
}
p {
  margin: 0 0 10px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.key {
  background-color: #e0e6ee;
  color: #6e81aa;
  border-bottom-style: solid;
  box-shadow: 1px 1px 1px #6e91aa;
  border-right-style: solid;
  border-bottom-color: #6e81aa;
  border-bottom-width: 0.5px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
}
img {
  vertical-align: middle;
  border: 0;
  height: 50px;
  Width: 50px;
}
b, strong {
  font-weight: 700;
}

/* ZOOM MAP */

#mapid { height: 300px; }
  
